gradio
requests
litellm==1.67.2
smolagents
smolagents[transformers,vision,audio]==1.14.0
tenacity
pillow
pandas
wikipedia-api
openpyxl
markdownify
pandas
bs4                     
pillow
urllib3
python-dotenv
requests
markdownify
